<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>


	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="jumbotron">
					<h1>Role-Add</h1>
					<p>

						<a class="btn btn-primary btn-lg" th:href="@{/student-add}"
							role="button"> User</a>

					</p>
					<hr />
					<h4>ManytoMany Demo:</h4>
					<hr />

					<form action="/course/save" th:action="@{/course/save}"
						method="post">

						<div class="form-group">
							<label for="email">Role Name:</label> <input type="text"
								class="form-control" placeholder="Enter name" name="name"
								id="name" />
						</div>

						<div class="form-group">
							<label for="email">Role Description:</label> <input type="text"
								class="form-control" placeholder="Enter description"
								name="description" id="description" />
						</div>

						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>





</body>
</html>