<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>


	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="jumbotron">
					<h1>USer-Add</h1>

					<p>

						<a class="btn btn-primary btn-lg" th:href="@{/course-add}"
							role="button"> Role</a>

					</p>
					<hr />
					<h4>ManytoMany Demo:</h4>
					<div id="postResultDiv"></div>
					<hr />

					<form action="/student/save" th:action="@{/student/save}"
						th:object="${student}" method="post">

						<div class="form-group">
							<label for="email">Name:</label> <input type="text"
								class="form-control" placeholder="Enter name" name="name"
								id="name" />
						</div>


						<!-- <div class="form-group">
							<label for="email">RollNo:</label> <input type="text"
								class="form-control" placeholder="Enter RollNo" name="rollNo"
								id="rollNo" />
						</div>
 -->
						<div class="form-group">
							<label for="email">Descrption:</label> <input type="text"
								class="form-control" placeholder="Enter City" name="city"
								id="city" />
						</div>

						<div class="form-group">
							<label for="inputEmail3"> Roles :</label> <select
								th:field="*{courses}" class="form-control" multiple="multiple">
								<option th:each="type : ${courses}" th:value="${type.id}"
									th:text="${type.name}"> Role details
                            </option>
							</select>
						</div>


						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>





</body>
</html>